<!--<div *ngIf="!loggedIn">-->
<div>
  <div class="row">
    <div class="col-md-8">
      <!-- Card -->
      <div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);background-size: cover;">
        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div style="margin: auto">
            <h5 class="pink-text"><i class="fa fa-pie-chart"></i> For Universities</h5>
            <h3 class="card-title pt-2"><strong>Decentralized Degrees</strong></h3>
            <p>Tired of processing an infinity of employer requests to access your records?</p>
            <a class="btn btn-pink waves-light" routerLink="./explore" mdbRippleRadius><i class="fa fa-clone left"></i> Learn More</a>
          </div>
        </div>
        <!-- Content -->
      </div>
    </div>
    <div class="col-md-4">
      <section class="section">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-12">
            <!-- Login form -->
            <form>
              <div class="text-center cyan-text">
                <h3><i class="fa fa-lock cyan-text"></i> Login:</h3>
              </div>
              <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="text" id="defaultForm-email" class="form-control" mdbActive>
                <label class="active" for="defaultForm-email">Your email</label>
              </div>
              <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="defaultForm-pass" class="form-control" mdbActive>
                <label class="active" for="defaultForm-pass">Your password</label>
              </div>
              <div class="text-center">
                <button class="btn btn-default waves-light" mdbRippleRadius>Login</button>
              </div>
            </form>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" style="margin: auto">
      <!--Register form-->
      <form>
        <div class="text-center deep-orange-text">
          <h3><i class="fa fa-user deep-orange-text"></i> Sign up:</h3>
        </div>
        <div class="md-form">
          <i class="fa fa-user prefix grey-text"></i>
          <input type="text" id="orangeForm-name" class="form-control" mdbActive>
          <label for="orangeForm-name">Your name</label>
        </div>
        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="text" id="orangeForm-email" class="form-control" mdbActive>
          <label for="orangeForm-email">Your email</label>
        </div>
        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-pass" class="form-control" mdbActive>
          <label for="orangeForm-pass">Your password</label>
        </div>
        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-pass" class="form-control" mdbActive>
          <label for="orangeForm-pass">Password again</label>
        </div>
        <div class="text-center">
          <button class="btn btn-deep-orange waves-light" mdbRippleRadius>Proceed</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div>
  <h2>
    University Home Content here
  </h2>
</div>
