<div class="md-form">
  <input *ngIf="type === 'cnic'" [id]="'degree-form-field'+id" class="form-control" mdbActive [type]="fieldType" [formControl]="fieldControl" [textMask] = "{mask: localCnicMask}">
  <input *ngIf="type !== 'cnic'" [id]="'degree-form-field'+id" class="form-control" mdbActive [type]="fieldType" [formControl]="fieldControl">
  <label [for]="'degree-form-field'+id">{{label}}</label>
  <div *ngIf="(fieldControl.touched || formInvalid) && fieldControl.errors">
    <small *ngIf="fieldControl.errors.required" style="color:crimson">*{{label}} is required</small>
    <small *ngIf="fieldControl.errors.pattern && !fieldControl.errors.required" style="color:crimson">*{{errorMessage}}</small>
  </div>
</div>
