<div class="light-font">
    <ol class="breadcrumb primary-color">
        <li class="breadcrumb-item"><a class="white-text" routerLink="/university">University Home</a></li>
        <li class="breadcrumb-item">View All Degrees</li>
    </ol>
</div>
<a class="btn btn-primary waves-light" mdbRippleRadius routerLink="/university"><i class="fa fa-caret-left  mr-1"></i> Back</a>

<section class="">
    <table class="table  table-hover">
      <thead>
        <tr  >
          <th>#
            </th>
          <th *ngFor="let formField of formFields;">{{formField.name}}
            </th>
          
          <th     style="text-align: -webkit-right;">
           <input class="form-control" type="search" name="search" [(ngModel)]="filter">      

          </th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let degree of degrees | filter:filter; let i=index" style="display:table"
        (click)="goToDetail(degree.id) ">
          <!-- <a routerLink="../detail/{{degree.id}}"> -->
            
              <th scope="row" *ngIf="degree.id != expandedIndex">{{i+1}}</th>
              <td *ngIf="degree.id != expandedIndex">{{degree.studentName}}</td>
              <td *ngIf="degree.id != expandedIndex">{{degree.gpa}}</td>
              <td *ngIf="degree.id != expandedIndex">{{degree.graduationYear}}</td>
              <td *ngIf="degree.id != expandedIndex">{{degree.degreeType}}</td>
              <td *ngIf="degree.id != expandedIndex">{{degree.degreeName}}</td>
              <td *ngIf="degree.id != expandedIndex"></td>
            
            <div class= "expanded" *ngIf="degree.id == expandedIndex">
              Name : {{degree.studentName}}<br>
              GPA: {{degree.gpa}}<br>
              Graduation Year: {{degree.graduationYear}}<br>
              Type: {{degree.degreeType}}<br>
              Degree Name:{{degree.degreeName}}<br></div>

        </tr>

              
      </tbody>
    </table>
   
</section>

<br>
<br>


