<form [formGroup]="fieldInfoForm">
  <div>
    <label>Field&nbsp;Name</label>
    <input type="text" formControlName="fieldName">
    <div *ngIf="(fieldInfoForm.get('fieldName').touched || formInvalid) && fieldInfoForm.get('fieldName').invalid">
      <small style="color:crimson">*Field&nbsp;Name is required</small>
    </div>
  </div>

  <div>
    <label>Field&nbsp;Type</label>
    <select formControlName="fieldType">
      <option value="Text">Text</option>
      <option value="Number">Number</option>
    </select>
  </div>

  <div>
    <label>Field&nbsp;Validations</label>
    <select formControlName="fieldValidations">
      <option *ngFor="let fieldValidator of defaultFieldValidators" [value]="fieldValidator.name">{{fieldValidator.name}}</option>
    </select>
  </div>

  <div>
    <label>Custom&nbsp;Error&nbsp;Message</label>
    <input type="text" formControlName="fieldErrorMsg">
  </div>
</form>
