<header>
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-indigo navStyle" [containerInside]="false" style="padding-bottom: 12px !important; padding-top: 12px !important;">
    <logo>
      <a class="logo navbar-brand" routerLink="/"><strong>QualSure</strong></a>
    </logo>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" mdbRippleRadius>
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" routerLinkActive="active" mdbRippleRadius>
          <a class="nav-link" routerLink="/university">University</a>
        </li>
        <li class="nav-item waves-light" routerLinkActive="active" mdbRippleRadius>
          <a class="nav-link" routerLink="/student">Student</a>
        </li>
        <li class="nav-item waves-light" routerLinkActive="active" mdbRippleRadius>
          <a class="nav-link" routerLink="/verify">Verify</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  
</header>

<div class='div-container'>

  <ng-content>

  </ng-content>

  
<footer>
        <footer class="footer-distributed">
                
                            <div class="footer-left">
                
                                <h3 style="font-family:'Times New Roman', Times, serif">Qual<span>Sure</span></h3>
                
                                <p class="footer-links">
                                    <a routerLink="/">Home</a>
                                    ·
                                    <a routerLink="/verify">Verify</a>
                                    ·
                                    <a routerLink="/university">University</a>
                                </p>
                
                                <p class="footer-company-name">QualSure &copy; 2017</p>
                            </div>
                
                            <div class="footer-center">
                
                                <div>
                                    <i class="fa fa-map-marker"></i>
                                    <p><span>Hostel 6</span> GIKI, Topi</p>
                                </div>
                
                                <div>
                                    <i class="fa fa-phone"></i>
                                    <p>+92 321 1234 567</p>
                                </div>
                
                                <div>
                                    <i class="fa fa-envelope"></i>
                                    <p><a href="mailto:support@qualsure.com">support@qualsure.com</a></p>
                                </div>
                
                            </div>
                
                            <div class="footer-right">
                
                                <p class="footer-company-about">
                                    <span>About the company</span>
                                    Established in 2017, QualSure provides a platform for universities to anchor their issued qualifications and/or degrees on the Ethereum blockchain. 
                                </p>
                
                            </div>
                
                        </footer>
</footer>
</div>
