<div class="card card-light">
    <!--Card content-->
    <div class="card-body black-text">
      <!--Title-->
      <h4 class="card-title">Enter Password</h4>
      <hr class="hr-dark">
      <!--Text-->
      <p class="font-small mb-4">For additional security please enter your account password again</p>
      <div class="md-form">
        <input id="password-field" type="password" [(ngModel)]="passwordString" class="form-control" mdbActive>
        <label for="password-field">Password</label>
        <div *ngIf="formSubmitted && !passwordString">
          <small style="color:crimson">*Password is required</small>
        </div>
      </div>
      <div class="black-text d-flex justify-content-end">
        <a class="btn btn-outline-primary waves-light test" (click)="cancel()"><h5>Cancel</h5></a>
        <a class="btn btn-primary waves-light" (click)="ok()"><h5> OK</h5></a>
      </div>
    </div>
  </div>
  