<div class="card card-light">
    <!--Card content-->
    <div class="card-body black-text">
      <form [formGroup]="passwordForm">
        <!--Title-->
        <h4 class="card-title">Enter Password</h4>
        <hr class="hr-dark">
        <!--Text-->
        <p class="font-small mb-4">For additional security please enter your account password again</p>
        <div class="md-form">
          <input id="password-field" type="password" formControlName="password" class="form-control" mdbActive>
          <label for="password-field">Password</label>
          <div *ngIf="(this.passwordForm.get('password').touched || formSubmitted) && this.passwordForm.get('password').invalid">
            <small style="color:crimson">*Password is required</small>
          </div>
        </div>
        <div class="black-text d-flex justify-content-end">
          <input type="button" class="btn btn-outline-primary waves-light" (click)="cancel()" value="Cancel" mdbRippleRadius>
          <input type="submit" class="btn btn-primary waves-light" (click)="ok()" value="OK" mdbRippleRadius>
        </div>
      </form>
    </div>
  </div>
  