
<div class="view intro hm-black-light">
  <div class="full-bg-img flex-center">
      <div class="container white-text text-left wow fadeInUp">
        <h1 style="font-size:55px;"><span class="badge white darken-2 blue-text"><b>CV of the Future!</b></span> </h1>
            <br>
            <h5>Still have to verify your credentials manually?</h5>
            <h6>Still have to wait for weeks to get your qualtifications verified?</h6>
            <br>
            <h4>Let us take care of that! <br><br><b> Get your credentials verified in 10 seconds!</b></h4>
      </div>
  </div>
</div>





<main class="text-center py-5"> <!-- py-5">  -->
            <div class="container alt-style">
                <div class="partners">
                    <h1><b>Our Partners</b></h1>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <img src= '/assets/images/GIKI.jpg' alt="GIKI LOGO" width="150px">
                            <h3><span class="badge purple darken-2">GIKI</span></h3>    
                        </div>
                        <div class="col-md-4">
                            <img src= '/assets/images/NUST.jpg' alt="NUST LOGO" width="150px">
                            <h3><span class="badge indigo">NUST</span></h3>    
                        </div>
                        
                        <div class="col-md-4">
                            <img style="padding-top:4%"src= '/assets/images/LUMS.png' alt="LUMS LOGO" width="150px">
                            <h3><span class="badge pink">LUMS</span></h3>    
                        </div>
                    </div>
                </div>


                <div class="what-we-do">
                    <h1><b>What We Do</b></h1>
                    <div class="row">
                        <div class="col-md-12">
                            <img src="/assets/images/qr-code.png" alt="Sample QR Code">
                            <br> <p style="text-align: justify">We help universitites anchor their issued degrees and/or qualifications to Ethereum Blockchain.<br><br>
                                We make credentials become immutable, compeletely secure and transparent for everyone. <br> <br>
                            We provide students with QR codes which van be used to get their academic qualifications verified instantly.</p>
                           <br><br> <h4>All of this, within <b>10 seconds!</b></h4>
                        </div>
                    </div>
                </div>

                <div class="why-blockchain">
                        <h1><b>Why Ethereum Blockchain?</b></h1>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <img src="assets/images/ethereum-blockchain.png" alt="Ethereum Blockchain">
                                <br><br> <p>With no center point of failure and secured cryptography, applications are well protected against hacking and fraudulent activities.
                                    All anchored credentials can be instantly verified by anybody and anywhere.</p>
                                
                            </div>
                        </div>
                    </div>
        </div>
    </main>