
.view {
   background: url("/assets/images/background.jpg") no-repeat center center;
   background-size: cover;
    width:100%;
    height:100%;
    margin:0;
   width:auto;
   height:auto;
    max-width:100%;
    max-height:100%;


//    for parallax effect
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
//    parallax effect ends
}


//.view 
.white-text {
  position: relative;
  bottom: 100px;
  text-shadow: 0 0 50px #A9A9A9;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.text-center .partners p{
  text-align: center;
}

/* Create a Parallax Effect */
.dc_front {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.dc_front {
  background-image: url('/assets/images/dc_front.jpg');
  min-height: 100%;
}

/* not being used rn
.text-center h2 {
  margin: 45px;
}
*/



.alt-style > div {
  padding: 80px;
}

.alt-style > div:nth-child(odd) {
  background-color: white;
}

.alt-style > div:nth-child(even) {
  background-color: rgb(245, 243, 243);
}


.what-we-do img {
  width: 150px;
  float: right;
  margin: 10px;
  max-width: 100%;
  max-width: 100%;
  height: auto;
}


.why-blockchain img {
  width: 500px;
  float: left;
  margin: 10px;
  max-width: 100%;
  max-width: 100%;
  height: auto;
}




/*
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
*/

/*.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
   Every toolbar row uses a flexbox row layout. */ /*
  flex: 1 1 auto;
}

 

.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.app-bottombar {
  padding-left: 2rem;
  padding-right: 2rem;
  background: #ececec;;
}

.toolbar-button-padding {
  padding-left: 0.5rem;
}

.div-container {
  position: absolute;
  top: 64px;
}

.div-card {
  text-align: center;
}

.example-card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
}

.example-card-small {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
*/