<div class="light-font">
    <ol class="breadcrumb primary-color">
        <li class="breadcrumb-item"><a class="white-text" routerLink="/university">University Home</a></li>
        <li class="breadcrumb-item">Add Degree</li>
    </ol>
</div>
<a class="btn btn-primary waves-light" mdbRippleRadius routerLink="/university"><i class="fa fa-caret-left  mr-1"></i> Back</a>
<br>
<div class="view intro hm-black-light">
    <div class="full-bg-img rgba-black-strong card-pad">
        <div class="container">
            <div class="card">
                <p class="h5 text-center mb-4 addDegree-text">Add Degree Form</p>
                <div class="card-body">
                    <app-degree-form *ngIf="uniID" [class.hide-object]="submitted" [uniID]="uniID" [buttonLabel]="'Add Degree'"(outputValue)="addDegree($event)"
                        (dirtyFormOutput)="isFormDity=$event"></app-degree-form>
                    <div [class.hide-object]="!submitted" class="reponse-containers text-center">
                        <div *ngIf="!submissionFailed">
                            <img src="/assets/images/cyan-loading.gif" class="img-responsive center-block" style="width:225px">
                            <p>
                            Submitting. Please Wait...
                            </p>
                        </div>
                        <div *ngIf="submissionFailed">
                            <img src="/assets/images/red-cross.png" class="img-responsive center-block" style="width:225px">
                            <h2>
                            Degree submission failed!
                            </h2><br/>
                            <h4>
                                {{errorMessage}}
                            </h4>
                            <div class="center-on-small-only">
                            <a class="btn btn-primary waves-light" mdbRippleRadius (click)="goBack()">Go Back</a>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>


