<div class="light-font">
    <ol class="breadcrumb primary-color">
        <li class="breadcrumb-item"><a class="white-text" routerLink="/university">University Home</a></li>
        <li class="breadcrumb-item">Add Degree</li>
    </ol>
</div>
<a class="btn btn-primary waves-light" mdbRippleRadius routerLink="/university"><i class="fa fa-caret-left  mr-1"></i> Back</a>
<br>
<div class="view intro hm-black-light">
    <div class="full-bg-img rgba-black-strong card-pad">
        <div class="container">
            <div class="card">
                <p class="h5 text-center mb-4 addDegree-text">Add Degree Form</p>
                <div class="card-body">
                    <app-degree-form *ngIf="uniID" [uniID]="uniID" [buttonLabel]="'Add Degree'"(outputValue)="addDegree($event)"></app-degree-form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Websocket shit -->


<!-- <div class="footer22">
<br>
    <div class="send-button">
  
      <button (click)="sendMessage(input.value)">
      </button>
      <input id="input" type="text" #input>
    </div>
  </div> -->
<br>
<br>

<div style="text-align:center">
    <h1>
      Welcome to Chat!
    </h1>
    <div class="chat-container">
      <div class="chat">
        <div class="message"></div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
            <input type="text" id="input"  placeholder="Your name here..." #input>
          <button id="send" class="btn btn-default" type="button" (click)="sendMessage(input.value)">Send</button>
      </div>
  
 
   

