<div class="light-font">
  <ol class="breadcrumb primary-color">
    <li class="breadcrumb-item"><a class="white-text" routerLink="/degree">Employer & Student Home</a></li>
    <li class="breadcrumb-item">Verify Degree</li>
  </ol>
</div>
<div>
  <a class="btn btn-primary waves-light" mdbRippleRadius routerLink="/degree"><i class="fa fa-caret-left  mr-1"></i> Back</a>
</div>
<br>
<div class="view intro hm-black-light">
  <div class="full-bg-img rgba-black-strong card-pad">
    <div class="container">
      <div class="card">
        <p *ngIf="universityName" class="h5 text-center mb-4 verifyDegree-text">{{universityName}}</p>
        <p class="h5 text-center mb-4">Degree Form</p>
        <div class="card-body text-center">
          <app-degree-form *ngIf="showDegreeForm && !submitted && universityID" [uniID]="universityID" [buttonLabel]="'Verify Degree'" (outputValue)="verifyDegree($event)" [independentCheck]="true"
            [degreeDetail]="reloadedDegree" [disablePrefilledForm]="true"></app-degree-form>
          <div *ngIf="submitted" class="reponse-containers">
            <div *ngIf="!validDegree && !invalidDegree">
              <img src="/assets/images/cyan-loading.gif" class="img-responsive center-block" style="width:225px">
              <p>
                Verifying Degree Please Wait...
              </p>
            </div>
            <div class="center-block " *ngIf="validDegree">
               
                  <p>
              <img src="/assets/images/green-tick.png" class="img-responsive center-block" style="width:225px">
              </p>
              <h3>
                  Your Degree has been successfully verified
                </h3>
              <p>
                Please find the QR code attached below. 
              </p>
              
              <div style="display:table" id="img-downloader" class="img-responsive center-block">
                <a href="#" download onclick=" this.href=document.querySelector('#img-downloader img').getAttribute('src');">
                
                <qrcode *ngIf="qrCodeData" [qrdata]="qrCodeData" [size]="256" [level]="'M'" class="img-responsive center-block" style="display:table" download></qrcode>
                </a>
              </div>
              <div class="center-on-small-only">
                <a class="btn btn-primary waves-light" mdbRippleRadius routerLink="/degree">Go Back</a>
              </div> 
            </div>
            <div *ngIf="invalidDegree">
              <img src="/assets/images/red-cross.png" class="img-responsive center-block" style="width:225px">
              <h2>
                Invalid Degree!
              </h2>
              <div class="center-on-small-only">
                <a class="btn btn-primary waves-light" mdbRippleRadius routerLink="/degree">Go Back</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>      

