.view {
    background: url("/assets/images/img%20%2814%29.jpg") no-repeat center center;
    background-size: cover;
}

.verifyDegree-text {
    padding-top: 2.6rem;
    font-weight: bolder;
    font-size: 2rem;
}

.card-pad {
    padding-top: 2.6rem;
}